{% render 'partials/head.liquid' %}


<h1> {{ webdetail.title }} </h1>

{% if webdetail.video %}
    <video controls width="250">
        <source src="https://fdnd-agency.directus.app/assets/{{ webdetail.video }}" height="100px"/>
    </video>
{% endif %}

<section class="detail-watch-info">
    <p class="detail-vieuws"> <img src="/assets/views_icon.svg" alt=""> {{ webdetail.views }} </p>
    <p class="detail-date"> <img src="/assets/date_icon.svg" alt="">{{ webdetail.date }} </p>

    {% for category in webdetail.categories %}
        <p class="category-detail">{{ category.avl_categories_id.name }}</p>
    {% endfor %}
</section>

<h2>Description</h2>
    <details class="description-detail">
        <summary>Read description</summary>
        <div>
            <p> {{ webdetail.description }} </p>
        </div>
    </details>

<h2>Q & A</h2>
    <h3>Comments</h3>
    <section class="comments-detail">
        {% for comment in comments %} 
                <p class="comment"> {{  comment.content }}</p>
        {% endfor %}  
    </section>

    <h3>Ask a question</h3>
    {% comment %} <section class="q-en-a">
        <form  action="/detail/{{ webdetail.id }}" method="post">
            <input type="text" name="comment" placeholder="Ask your question here..." />
            <button type="submit" class="button">Submit</button>
        </form>
    </section> {% endcomment %}

    <section class="q-en-a">
        {% if posted %}
            <!-- Ideal state -->
            <form class="comments-form" action="/detail/{{ webdetail.id }}" method="post" data-enhanced="form-{{ webdetail.id }}" >
                <input type="text" name="comment" placeholder="Ask your question here..." />
                <button type="submit" class="submit-button">Sent</button>
            </form>
        {% else %}
            <!-- Empty state -->
            <form class="comments-form" action="/detail/{{ webdetail.id }}" method="post" data-enhanced="form-{{ webdetail.id }}" >
                <input type="text" name="comment" placeholder="Ask your question here..." />
                <button type="submit" class="submit-button">Submit</button>
            </form>
        {% endif %}
    </section>

<h2>The speaker</h2>
    {% for speaker in webdetail.speakers %}
        <section class="speaker-detail">
            <img class="speaker-picture" src="https://fdnd-agency.directus.app/assets/{{ speaker.avl_speakers_id.profile_picture }}">
            <h3 class="speaker-name"> {{ speaker.avl_speakers_id.fullname }} </h3>
            <p class="speaker-job"> {{ speaker.avl_speakers_id.entitle }} </p>
        </section>
    {% endfor %}


<h2> Transcript </h2>
    <details class="transcript-detail">
        <summary>Read transcript</summary>
        <div>
            {% for transcript in webdetail.transcript %}
                <p> {{ webdetail.transcript }} </p>
                {% endfor %}
        </div>
    </details>


{% render 'partials/foot.liquid' %}
