{% render 'partials/head.liquid' %}


<h1> {{ webdetail.title }} </h1>

<video controls width="250">
    <source src="https://fdnd-agency.directus.app/assets/{{ webdetail.video }}" height="100px"/>
</video>

<p> <img src="/assets/views_icon.svg" alt=""> {{ webdetail.views }} </p>
<p> <img src="/assets/date_icon.svg" alt="">{{ webdetail.date }} </p>

<h2>Q & A</h2>
<h3>Ask a question</h3>
<p>Hier komt een input field...</p>

<h3>Comments</h3>
<p>Hier komen de comments</p>

<h2>The speaker</h2>
<h3> {{ webdetail.speaker }} </h3>


{% comment %} {% for webinar in webinars %}

<h1>Webinar</h1>

<video controls width="250">
    <source src="https://fdnd-agency.directus.app/assets/{{ webinar.video }}" height="100px"/>
</video>
<h2>{{ webinar.title }}</h2>

<div>
    {% for category in webinar.categories %}
        <p class="category">{{ category.avl_categories_id.name }}</p>
    {% endfor %}

    <p>
        <img src="/assets/views_icon.svg" alt="">
        {{ webinar.views }} 
    </p>

    <p>
        <img src="/assets/date_icon.svg" alt="">
        {{ webinar.date | date: "%d-%m-%Y" }}
    </p>
</div>

<h2>Q & A</h2>
<h3>Ask a question</h3>
<h3>Comments</h3>

<h2>The speaker</h2>
    {% for speaker in webinar.speakers %}
        <p class="speakers">{{ speaker.avl_categories_id.name }}</p>
    {% endfor %}

{% endfor %} {% endcomment %}
{% render 'partials/foot.liquid' %}
